$letras: (
    "letra-titulo": 60px,
    "letra-subtitulo": 40px,
    "letra-default":25px,
    "letra-chica": 18px,
);
$colores: (
    "color-principal": #22333B,
    "color-secundario": #5E503F,
    "color-letrablanca": #C6AC8F,
);
$pantalla-completa: 100%;